body{
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background: #cccccc;
}

.area {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cccccc; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.neuu {
    border-radius: 0.5em;
    box-shadow: 
    6px 6px 12px 3px rgba(90,90,90,0.3),
    -4px -4px 12px 6px rgba(255,255,255,0.3);
    margin: 2.5em 2.5em;
}

.neublock {
    padding-top: 1em;
    height: 20%;
    align-content: center;
    place-items: center;
}

.neucard{
    padding: 3em;
    place-items: center;
}

.neubutton {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    height: 45px;
    width: 150px;
    border-radius: 75px;
    font-family: Helvetica;
    display: flex;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    box-shadow: 
      6px 6px 12px 3px rgba(90,90,90,0.3),
      -4px -4px 12px 6px rgba(255,255,255,0.3);
    transition: all .3s ease;
  }
  .neubutton:hover {
    text-decoration: none;
    letter-spacing: 3px;
    box-shadow: 
      10px 10px 30px 10px rgba(90,90,90,0.3),
      -8px -8px 10px 10px rgba(255,255,255,0.3);
    cursor: pointer;
  }
  
  .neubutton:active {
    letter-spacing: 3px;
    box-shadow:
      inset 4px 4px 8px 1px rgba(90,90,90,0.3),
      inset -1px -1px 3px 1px rgba(255,255,255,0.3);
  }

.neulink{
  padding: 1em;
}

.neulink>a{
  margin: 4.5em;
  height: 60px;
	width: 60px;
	box-shadow: -7px -7px 17px rgba(255,255,255,0.6),
				7px 7px 17px rgba(70,70,70,0.15);
  border-radius: 50%;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

  .fa-twitter{
    color: #23abff;
  }
  .fa-facebook{
    color: #3e68c0;
  }
  .fa-instagram{
    color: #ea3145;
  }
  .fa-whatsapp{
    color: #27ae60;
  }
  .neulink>a:hover{
    box-shadow: 7px 7px 17px rgba(255,255,255,0.6),
         -7px -7px 17px rgba(70,70,70,0.15);
  }
  .neulink>a:active{
    box-shadow: inset -7px -7px 17px rgba(255,255,255,0.6),
          inset 7px 7px 17px rgba(70,70,70,0.15);	
  }