{% extends 'base.html' %}
{% block body %}
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">Babel</h1>
    <p class="lead">Welcome to the Ribbon Babel Application</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit consequatur inventore fugiat, quasi ipsam non impedit hic autem ipsa amet, veniam beatae voluptas cupiditate illo perspiciatis, odit eos? Saepe, similique.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
</div>
{% endblock %}