{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="neuu neulogin ">
        <h2>Login</h2> <br>
        <div class="alert alert-warning" role="alert" id="alerted" style="display: {{display}};">
            The Login data does not appear in our database
          </div>
        <form action="{{url_for('signUp')}}" method="post">
        
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
              <br>

              <label for="sname"><b>Surname</b></label>
              <input type="text" placeholder="Enter Surname" name="sname" required>
              <br>

              <label for="mail"><b>Mail ID</b></label>
              <input type="mail" placeholder="Enter E-Mail ID" name="mail" required>
              <br>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                <br>
              <label for="psw1"><b>Confirm Password</b></label>
              <input type="password" placeholder="Confirm Password" name="psw1" id="psw1" required>
              
                <label>
                <input class='neuu neubutton' type="submit" name="submit"  value="Submit" />
                </label>
            <label>
                <a class="neuu neubutton" href="{{url_for('home')}}">Cancel</a>
            </label>
                
          </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('#psw, #psw1').on('keyup', function () {
        if ($('#psw').val() == $('#psw1').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else 
            $('#message').html('Not Matching').css('color', 'red');
        });
    
    var arrr = $("form").serializeArray();
    console.log(arrr);

    $(document).ready(function(){
        $('#alerted').delay(5).hide();
        $('')
    })
    </script>
{% endblock %}